@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.wrapper {
	display: flex;
	overflow: hidden;
	height: 100vh;

}

.sidebar {
	display: block;
	width: 400px;
	background: #383838;
	overflow: scroll;
}

.sidebar::-webkit-scrollbar { width: 0; }
.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: #f2f2f2;


}

.header {


	height: 88px;
	background: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
}

.logo {
	margin-top: 52px;
	display: block;
	margin-right: 103px;
	margin-left: 81px;
}

.content {
	position: relative;
	flex: 1;
	overflow: auto;

}

/*Убрать полосу прокрутки у элемента*/
.content::-webkit-scrollbar {
	width: 0;
}

.menu {
	display: block;
	margin-top: 100px;
	margin-right: 30px;

}

.menu-item {

	display: block;
	border-bottom: 1px solid rgba(242, 242, 242, 0.1);
}

.menu-item a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	/* or 122% */

	pading: 0 15px;
	display: flex;
	align-items: center;
	height: 70px;
	text-transform: uppercase;
	text-decoration: none;
	color: #b7b7b7;
}

.menu-item a:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.05);

}
.menu-item--active {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	/* or 122% */

	pading: 0 15px;
	display: flex;
	align-items: center;
	height: 70px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.05);

}

.menu-item:last-child {
	border: none
}


.search {

	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	width: 492px;
	height: 42px;
	margin-top: 27px;
	margin-left: 46px;
	border-bottom: 1px solid #c4c4c4;
	position: relative;
}

.loupe {
	align-content: center;
	align-items: stretch;

	background-size: cover;
}

.header input {
	display: block;
	border: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	color: #999;

}

.input:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;

}
.header .p {
	display: inline-block;
}
.header-button {
	display: flex;
	flex: 1;
	flex-direction: row;
	position: relative;
	margin-top: 27px;
	justify-content: space-between;
	margin-right: 51px;
	margin-left: 20px;


}

.header-button form button {

	height: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 40px;
	/* identical to box height, or 333% */

	text-align: center;
	text-transform: uppercase;

	color: #fff;

}

#SearchButton {
	background: #e7a04e;
	border-radius: 7px;
	border: none;
	width: 89px;
	height: 40px;

}

.AddMovie-button {
	background: #4ee7b0;
	border-radius: 7px;
	border: none;
	height: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 40px;
	/* identical to box height, or 333% */
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}


.movie-list--item {

	display: inline-block;
	margin: 20px 20px 20px 20px;
	width: 370px;
	height: 700px;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	font-family: 'Open Sans', sans-serif;
}

.movie-list--item-overlay {
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 9;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: .4s;
}

.movie-list--item:hover .movie-list--item-overlay {
	opacity: 1;

}

.movie-list--item-more {
	display: inline-flex;
	width: 220px;
	height: 56px;
	background: #4ee7b0;
	border-radius: 7px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 56px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	align-items: center;
	justify-content: center;


}

.movie-list--item-image {
	display: block;
	width: 370px;
	height: 430px;
	background-size: cover;
	border-radius: 20px 20px 0 0;
}

.movie-list--item-head {
	display: block;
	margin: 0 20px 0 20px;
	padding: 12px 0 15px 0;
}


.movie-list--item-title {
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	color: #333;


}

.movie-list--item-subtitle {
	margin-bottom: 15px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 25px;
	color: #999;
}

.movie-list--item-wrapper {
	display: block;
	height: 1px;
	background: #f2f2f2;
}

.movie-list--item-description {
	min-height: 100px;
	margin: 0 20px 23px 0;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333;


}

.movie-list--item-bottom {
	display: flex;
	flex: 1;
	margin-left: 0;
	white-space: nowrap;
	justify-content: space-between;
}

.movie-list--item-time {
	position: relative;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
	padding-left: 25px;
	color: #ccc;
}

.movie-list--item-info {
	font-weight: 600;
	font-size: 10px;
	line-height: 22px;
	text-align: right;
	text-transform: uppercase;
	color: #ccc;


}

.movie-list--item-time-icon {
	left: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	/*background: url("images/icon-clock.jpg");
*/

}

.info {
	margin: 200px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 22px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #43b0ed;
}

.movie-item-page {
	position: absolute;
	width: 1170px;
	height: 1043px;
	left: 48px;
	top: 48px;

	background: #fff;
}

.movie-item-page--header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	display: flex;
	width: 1112px;
	height: 166px;
	align-self: flex-end;
	margin-left: 48px;
	margin-top: 35px;
	margin-right: 10px;
	border-bottom: 1px solid #c4c4c4;
}

.movie--page-header--title {
	position: absolute;
	width: 720px;
	height: 64px;

	font-family: 'Open Sans', sans-serif;

	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;

	color: #333;
}

.movie--page-header--subtitle {
	display: flex;
	position: relative;
	width: 299px;
	height: 42px;

	white-space: nowrap;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;

	color: #999;
	margin-top: 8px;
}

.movie-header--age-rating {

}

.agerate-rectangle {
	position: absolute;
	width: 39px;
	height: 32px;
	background: rgba(242, 242, 242, 0.1);
	border: 3px solid #ccc;
	box-sizing: border-box;
	border-radius: 7px;

	margin-left: 12px;
}

.agerate-rectangle .movies-ageRate {
	position: absolute;
	width: 24px;
	height: 28px;

	margin-left:2px;
	margin-right: 5px;


	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;

	color: #ccc;
}

.movie-like-button {

	width: 45px;
	height: 38px;


	margin-right: 20px;
	margin-top: 20px;
	background-image: url("../image/icon-with-like.png");
	background-size: 100%;
}

.movie-page--container {

	width: 1170px;
	height: 818px;
	display: flex;
}

.movie-page--image--container {
	margin-top: 21px;
	margin-left: 31px;
	background: #f2f2f2;
	position: absolute;
	display: inline-block;
	width: 493px;
	height: 754px;

}

.movie-page--image {
	display: block;
	margin: 11px;
	width: 469px;
	height: 730px;
	background-size: cover;
}

.movie-page--info {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-left: 493px;
}

.movie-page--rating {
	position: absolute;
	width: 400px;
	height: 60px;
	margin-left: 77px;
	margin-top: 36px;
	margin-bottom: 14px;

}

.rate-rectangle--orange {
	width: 27px;
	height: 27px;
	border: 5px solid #fff;
	box-sizing: border-box;
	background: #e78818;
	display: inline-block;
	transform: translate(-50%, -50%);
}

.rate-rectangle-grey {
	width: 27px;
	height: 27px;

	background: #f2f2f2;
	border: 5px solid #fff;
	box-sizing: border-box;
	align-items: center;
	display: inline-block;
	transform: translate(-50%, -50%);
}
.rate-page--num{
	position: absolute;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: #E78818;
	display: inline-block;
	transform: translate(-50%, -50%);
	margin-left: 20px;
}
.page-rating {
	position: absolute;
	width: 32px;
	height: 30px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;
margin: 12px;
	color: #FFFFFF;
}
.movie-page--inform{
	display: flex;
	position: relative;
}
.page--about-movie{
	position: absolute;
	width: 164px;
	height: 37px;

margin-left: 45px;
margin-top: 88px;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;

	color: #333333;

}
.movie-info--release-date{
	margin-top: 144px;
	display: inline-block;
	margin-left: 45px;
}
.movie-info--release-date .release-date{
	position: absolute;
	width: 144px;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
margin-right: 77px;
	display: inline-block;
	color: #666666;
}
.movie-info--release-date .date{
	position: absolute;
	width: 392px;
	height: 22px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	display: inline-block;
	margin-left: 215px;
	color: #000000;
}
.movie-info-director{
	margin-top: 144px;
	display: inline-block;

}
.movie-info-director .director-title{
	position: absolute;
	width: 144px;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	margin-right: 77px;
	display: inline-block;
	color: #666666;
	margin-top: 30px;
}
.movie-info-director .director-name{
	position: absolute;
	width: 392px;
	height: 22px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	display: inline-block;
	margin-left: 215px;
	color: #000000;
	margin-top: 30px;
}
.page--actor-inform{
	margin-top: 144px;
	display: inline-block;
}
.actor-list--title{
	position: absolute;
	width: 144px;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	margin-right: 77px;
	display: inline-block;
	color: #666666;
	margin-top: 60px;
}
.actor-list{
	position: absolute;
	width: 392px;
	height: 44px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	display: inline-block;
	margin-left: 215px;
	color: #000000;
	margin-top: 60px;
}
.page--description{
	position: absolute;
	width: 164px;
	height: 37px;

	margin-left: 45px;
	margin-top: 268px;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #333333;
}
.page--movie-description{
	position: absolute;
	width: 577px;
	height: 437px;
	margin-top: 328px;
	margin-left: 45px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	/* or 156% */


	color: #000000;
}